@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Admin Home</a>.</p>
    <a asp-area="Admin" asp-controller="Home" asp-action="Roles" class="btn btn-outline-primary">Roles</a>
    <a asp-area="Admin" asp-controller="Home" asp-action="Users" class="btn btn-outline-secondary">UserList</a>
</div>