@{
    ViewData["Title"] = "User List";
}
@model List<UserViewModel>

<div class="text-center">
    <h1 class="display-4">User List</h1>
</div>


<table class="table table-striped">
    <thead>

    <th>Id</th>
    <th>UserName</th>
    <th>Email</th>

    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
        </tr>
    }
    </tbody>
</table>