@model ForgetPasswordViewModel
@{
    ViewBag.Title = "Parola Sıfırla";
    Layout = "_Layout";
}
<partial name="_ValidationScriptsPartial"/>
<div class="row">
    <div class="col-md-4 offset-4">

        @if (TempData["SuccessMessage"] is not null)
        {
            <div class="alert alert-info" role="alert"> @TempData["SuccessMessage"] </div>
        }
        <h2 class="mb-5">Parolayı sıfırla</h2>
        <div class="mb-5 alert alert-primary">Parola yenileme linki mail adresinize gönderilecektir.</div>

        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        <form method="post">
            <!--Eğer aynı controllerdaki action method a yollayacaksak <form method="post> olarak bırakabiliriz(Best practice'dir.).Tercihimize göre.-->
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" type="email" class="form-control">
                <span asp-validation-for="Email" class="form-text"></span>
            </div>
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>

    </div>
</div>